//Colors
$gradient-primary: linear-gradient(
  180deg,
  #6abcf8 0%,
  rgba(67, 211, 220, 0.47) 100%
);

$gradient-main-background: linear-gradient(
  270deg,
  #6abcf8 0%,
  rgba(67, 211, 220, 0.47) 50%
);

$primary-color: #03396c;

$primary-color-300: hsla(209, 56%, 29%, 0.897);

$primary-color--light: #005b96;

$secondary-color: #a9dbff;

$secondary-color-300: #97c3e2;

$color-focus: rgb(81, 144, 238);

$color-delete: #cf4545;

$color-black: rgba(12, 12, 13, 1);

$color-white: #ffffff;

$color-gray-700: #646464;

$color-gray-500: #b4b4b4;

$color-gray-300: #e7e7e7;

$color-gray-100: #f8f9fa;

$color-gray-200: #f0f0f0;

$color-gray-100: #f0f0f0;

// gray bg f8f9fa
//box border 1px solid #dee2e6!important