//Colors
$gradient-primary: linear-gradient(
  180deg,
  #6abcf8 0%,
  rgba(67, 211, 220, 0.47) 100%
);

$gradient-main-background: linear-gradient(
  270deg,
  #6abcf8 0%,
  rgba(67, 211, 220, 0.47) 50%
);

$primary-color: #03396c;

$primary-color--light: #005b96;

$color-white: #ffffff;

$secondary-color: #a9dbff;
