@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap"');
.margin--top-big {
  margin-top: 6rem;
}

.margin--top-med {
  margin-top: 3rem;
}

.margin--top-small {
  margin-top: 1rem;
}

.margin--btm--big {
  margin-bottom: 6rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media print {
  html,
  body {
    height: auto;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:focus,
*:hover {
  outline: none;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

button:focus {
  border: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 75%;
  }
}

body,
textarea {
  font-family: 'Barlow', sans-serif;
  color: #0c0c0d;
}

.header--primary {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 700;
  width: 25vw;
  margin: 4rem auto;
  color: #03396c;
}

@media only screen and (min-width: 2000px) {
  .header--primary {
    font-size: 15rem;
  }
}

.header--secondary {
  font-size: 4.5rem;
  font-weight: 700;
}

.header--secondary--white {
  color: #ffffff;
  text-align: right;
}

.header--secondary--login {
  padding-right: 6rem;
  padding-top: 2rem;
}

@media only screen and (min-width: 2000px) {
  .header--secondary {
    font-size: 15rem;
  }
}

.heading--tertiary {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 2rem;
}

.text__forgot {
  margin-top: 3rem;
  font-size: 1.6rem;
  text-align: center;
}

.grid__heading {
  color: #03396c;
  font-size: 1.7rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .grid__heading {
    font-size: 4.5rem;
  }
}

.grid__heading--main {
  font-size: 2rem;
  color: #b4b4b4;
  font-weight: 700;
}

button,
.tabs__userWelcome {
  font-family: 'Montserrat';
}

.button__add-text {
  font-family: 'Montserrat';
  font-size: 1.8rem;
}

@media only screen and (min-width: 2000px) {
  .button__add-text {
    font-size: 3.5rem;
  }
}

.modal__inner--exerciseView-heading {
  font-size: 3rem;
}

@media only screen and (min-width: 2000px) {
  .modal__inner--exerciseView-heading {
    font-size: 6rem;
  }
}

.modal__inner--exerciseView-text {
  font-size: 2rem;
}

@media only screen and (min-width: 2000px) {
  .modal__inner--exerciseView-text {
    font-size: 4rem;
  }
}

input {
  font-family: Montserrat;
}

.button {
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.button--primary {
  background-color: #005b96;
  color: white;
  padding: 1rem 2.75rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button--primary:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 2000px) {
  .button--primary {
    padding: 2rem 3.5rem;
  }
}

.button--secondary {
  background-color: #ffffff;
  color: #005b96;
  padding: 1rem 2.75rem;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button--secondary:hover {
  background-color: #f0f0f0;
}

.button--tertiary {
  background-color: transparent;
  color: #646464;
}

.button__square {
  width: 20rem;
  height: 5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 2000px) {
  .button__square {
    height: 4vh;
    width: 8vw;
  }
}

.button:hover {
  -webkit-transform: translateY(-0.5px);
          transform: translateY(-0.5px);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.button--login, .button--signup {
  border-radius: 5px;
  padding: 1rem 4rem;
  width: 40%;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.button--login {
  font-size: 2rem;
}

@media only screen and (min-width: 2000px) {
  .button--login {
    font-size: 5rem;
    padding: 2rem 4rem;
  }
}

.button--signup {
  font-size: 1.6rem;
}

.button--logout {
  background-color: #ffffff;
  color: #03396c;
  width: auto;
  height: auto;
  padding: 2rem 4rem;
  border: 2px solid #03396c;
  border-radius: 5px;
  margin-top: 10rem;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 2000px) {
  .button--logout {
    font-size: 2.75rem;
  }
}

.button--logout-icon {
  margin-right: 1.2rem;
}

.button__delete--background {
  background-color: #f0f0f0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
}

@media only screen and (min-width: 2000px) {
  .button__delete--background {
    padding: 4rem;
  }
}

@media only screen and (min-width: 2000px) {
  .button__delete--secondary, .button__delete--primary {
    font-size: 3.5rem;
  }
}

.button__delete--secondary {
  background-color: #f0f0f0;
  color: #646464;
  margin-right: 2rem;
}

@media only screen and (min-width: 2000px) {
  .button__delete--secondary {
    margin-right: 3.5rem;
  }
}

.button__delete--primary {
  color: #ffffff;
  background-color: #cf4545;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  border-radius: 5px;
}

@media only screen and (min-width: 2000px) {
  .button__delete--primary {
    padding: 2rem 3rem;
    border-radius: 12px;
  }
}

.button__add {
  width: 17rem;
  height: 5rem;
  background-color: #005b96;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media only screen and (min-width: 2000px) {
  .button__add {
    width: 34rem;
    height: 10rem;
    font-size: 3.5rem;
  }
}

.button__add:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.8;
}

.button__submit {
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media only screen and (min-width: 2000px) {
  .button__submit {
    font-size: 3.5rem;
    margin-top: 8rem;
  }
}

.button__submit--signUp {
  width: 10vw;
  margin: 3rem auto;
}

.button__print {
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
}

.button__pagination--positioner {
  position: relative;
}

.button__pagination--wrapper {
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
  width: 7.5rem;
  height: 4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px #0c0c0d;
          box-shadow: 0px 1px 1px #0c0c0d;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 2000px) {
  .button__pagination--wrapper {
    width: 21.5rem;
    height: 10rem;
    border: 4px solid #b4b4b4;
    border-radius: 10px;
  }
}

.button__pagination--left {
  font-size: 2rem;
  background-color: #ffffff;
  color: #03396c;
}

.button__pagination--left:disabled {
  color: #b4b4b4;
}

.button__pagination--right {
  font-size: 2rem;
  background-color: #ffffff;
  color: #03396c;
}

.button__pagination--right:disabled {
  color: #b4b4b4;
}

@media only screen and (min-width: 2000px) {
  .button__pagination--left, .button__pagination--right {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 2000px) {
  .button__printList, .button__saveList, .button__clearList {
    font-size: 3.5rem;
  }
}

.button__printList {
  padding: 1rem 2.5rem;
}

.button__printList--text {
  display: inline;
  margin-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .button__printList {
    padding: 2rem 4rem;
  }
}

.button__saveList {
  padding: 1rem 2.5rem;
  margin-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .button__saveList {
    padding: 2rem 4rem;
    margin-left: 2rem;
  }
}

.button__clearList {
  margin-right: 1rem;
}

.button__patient--addWorkout, .button__patient--printPtWorkout {
  display: block;
  margin: 2rem auto;
  font-size: 2rem;
}

.button__patient--printPtWorkout {
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

.button__submitSave {
  font-size: 1.6rem;
}

.exercise-plus {
  background-color: #ffffff;
  color: black;
}

@media only screen and (min-width: 2000px) {
  .exercise-plus {
    font-size: 4rem;
  }
}

#patientListWrapper {
  position: relative;
}

#patientPages {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

@media only screen and (min-width: 2000px) {
  #patientPages {
    right: 3vw;
  }
}

#workoutPages {
  position: absolute;
  bottom: 11vh;
  right: 5vw;
}

@media only screen and (min-width: 2000px) {
  #workoutPages {
    right: 3vw;
  }
}

#printAddedExercises {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#printAddedExercises:hover {
  opacity: 0.8;
}

#btnPrintWorkout {
  margin: 0 auto;
}

#btnSaveWorkoutPatient {
  display: none;
}

.modal__button--back {
  background-color: #ffffff;
  font-size: 1.8rem;
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.label {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-family: 'Montserrat';
}

@media only screen and (min-width: 2000px) {
  .label {
    font-size: 5rem;
    margin-top: 5vh;
  }
}

.label--signUp {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-family: 'Montserrat';
}

input,
textarea {
  border: 2px solid #b4b4b4;
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

input:focus,
textarea:focus {
  border: 2px solid #5190ee;
  -webkit-box-shadow: 0 0 5px #51cbee;
          box-shadow: 0 0 5px #51cbee;
  border-radius: 5px;
}

@media only screen and (min-width: 2000px) {
  input,
  textarea {
    border: 4px solid #646464;
  }
  input:focus,
  textarea:focus {
    border: 5px solid #5190ee;
  }
}

.input {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

@media only screen and (min-width: 2000px) {
  .input {
    font-size: 4rem;
    padding: 2rem;
  }
}

.input__signUp {
  font-size: 1.6rem;
  width: 20vw;
}

@media only screen and (min-width: 2000px) {
  .input__signIn, .input__signUp {
    font-size: 6rem;
  }
}

.input--textarea {
  font-size: 1.8rem;
  resize: none;
}

@media only screen and (min-width: 2000px) {
  .input--textarea {
    font-size: 4rem;
  }
}

input[type='file'] {
  border: none;
}

.imageTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

.form__addPatient, .form__addExercise, .form__saveWorkout {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__addPatient input, .form__addExercise input, .form__saveWorkout input {
  font-size: 1.6rem;
}

@media only screen and (min-width: 2000px) {
  .form__addPatient input {
    font-size: 4rem;
    width: 13vw;
  }
}

@media only screen and (min-width: 2000px) {
  .form__addExercise input {
    font-size: 4rem;
    width: 16vw;
  }
}

.form__addExercise--image[src=''] {
  display: none;
}

.form__addExercise--image {
  width: 18rem;
  height: auto;
}

.form__header {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
}

@media only screen and (min-width: 2000px) {
  .form__header {
    font-size: 7rem;
  }
}

.tabs__img {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 5px auto;
}

@media only screen and (min-width: 2000px) {
  .tabs__img {
    height: 6rem;
    width: 6rem;
  }
}

.tabs__userWelcome {
  color: #03396c;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (min-width: 2000px) {
  .tabs__userWelcome {
    font-size: 3.5rem;
  }
}

.tabs__menu {
  margin: 0;
  margin-top: 10rem;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__wrapper {
  width: 85vw;
  height: 90vh;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  border-radius: 5px;
}

.tabs__link {
  background: none;
  width: 95%;
  height: 5rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: start;
  padding-left: 2rem;
  border-radius: 5px;
  margin: 0.2rem 0.25rem;
}

@media only screen and (min-width: 2000px) {
  .tabs__link {
    height: 10rem;
    font-size: 3rem;
  }
}

.tabs__link i {
  margin-right: 3rem;
}

.tabs__link--active {
  background-color: #97c3e2 !important;
  color: #03396c !important;
}

.tabs__panel {
  display: none;
}

.active {
  display: block;
  width: 100%;
  height: 100%;
}

.fa-list-ul {
  width: 20px;
}

@media only screen and (min-width: 2000px) {
  .fa-list-ul {
    width: 45px;
  }
}

.searchbar__top {
  width: 93%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
}

.searchbar__wrapper {
  width: 30rem;
  height: 5rem;
  border: 2px solid #b4b4b4;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 2000px) {
  .searchbar__wrapper {
    width: 20vw;
    height: 5vh;
    border-radius: 100px;
    font-size: 4.5rem;
  }
}

.searchbar__wrapper-1 {
  padding-left: 1rem;
}

.searchbar__wrapper:focus-within {
  border: 2px solid #5190ee;
  -webkit-box-shadow: 0 0 5px #51cbee;
          box-shadow: 0 0 5px #51cbee;
  border-radius: 100px;
}

@media only screen and (min-width: 2000px) {
  .searchbar__wrapper:focus-within {
    border-radius: 100px;
  }
}

.searchbar--patient, .searchbar--exercise {
  border: none;
  font-size: 1.6rem;
  width: 30rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .searchbar--patient, .searchbar--exercise {
    width: 17vw;
    font-size: 3.5rem;
    padding-left: 3rem;
  }
}

.searchbar--patient:focus, .searchbar--exercise:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.searchbar--icon {
  margin-right: 2rem;
  cursor: pointer;
  color: #646464;
}

.list__wrapper {
  width: 97%;
  height: 85%;
  margin: 2rem auto;
  border: 2px solid #b4b4b4;
  border-radius: 1rem;
}

.list__wrapper--exercise {
  width: 70%;
  height: 100%;
  border: 2px solid #b4b4b4;
  border-radius: 1rem;
}

.list__wrapper--addedExercises {
  height: 100%;
  border: 2px solid #b4b4b4;
  border-radius: 1rem;
  width: 20%;
  padding-top: 2rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list__header {
  margin-left: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dcdcdc;
}

.list__patients {
  font-size: 2.5rem;
  list-style: none;
}

.list__patients li {
  margin: 0 auto;
  width: 93%;
  padding: 2rem 1rem;
  font-size: 2.1rem;
  border-bottom: 2px solid #e7e7e7;
  cursor: pointer;
}

.list__patients li:nth-child(even) {
  background-color: #e7e7e7;
}

.list__patients li i {
  float: right;
  margin-right: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 2000px) {
  .list__patients li {
    height: 10%;
    font-size: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list__flex {
  height: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4rem;
}

.list__exercises {
  width: 100%;
  height: 90%;
  margin-top: 3vh;
  font-size: 2.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  scrollbar-width: thin;
}

@media only screen and (min-width: 2000px) {
  .list__exercises {
    margin-top: 2vh;
  }
}

.list__exercises__item {
  display: inline-block;
  width: 23rem;
  font-size: 1.6rem;
  height: 23rem;
  margin: 2rem;
  cursor: pointer;
}

.list__exercises__item:nth-child(4n + 1) {
  margin-left: 4rem;
}

@media only screen and (min-width: 2000px) {
  .list__exercises__item {
    width: 12.6vw;
    height: 22.5vh;
    font-size: 4.5rem;
    margin-top: 4vh;
    margin-left: 2%;
  }
}

.list__exercises__img {
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  border: 1px solid #646464;
  height: 18rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 2000px) {
  .list__exercises__img {
    height: 18vh;
    border-radius: 15px;
    -webkit-box-shadow: 8px 10px 15px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 8px 10px 15px 0px rgba(50, 50, 50, 0.75);
    border: 3px solid #646464;
  }
}

.list__addedExercises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

.list__addedExercises--btnContainer {
  position: relative;
  top: 3rem;
  left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

@media only screen and (min-width: 2000px) {
  .list__addedExercises--btnContainer {
    left: 13rem;
  }
}

.list__addedExercises--item {
  margin: 1.5vh;
}

.list__addedExercises--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.list__addedExercises--image {
  width: 20rem;
  height: 14rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

@media only screen and (min-width: 2000px) {
  .list__addedExercises--image {
    width: 11vw;
    height: 13.5vh;
  }
}

.list__addedExercises--text {
  font-size: 1.6rem;
  width: 16rem;
  height: auto;
}

@media only screen and (min-width: 2000px) {
  .list__addedExercises--text {
    width: 7vw;
    font-size: 4rem;
  }
}

.list__removeExercise--icon {
  background: #ffffff;
}

@media only screen and (min-width: 2000px) {
  .list__removeExercise--icon {
    font-size: 4rem;
  }
}

.list__print {
  width: 50%;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.list__print--back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #ffffff;
  font-size: 2rem;
}

.list__print li {
  border-bottom: 1px solid black;
}

.list__print--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 4rem;
}

.list__print--heading {
  font-size: 3rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 2000px) {
  .list__print--heading {
    font-size: 7rem;
  }
}

.list__print--img {
  width: 25rem;
  height: 15rem;
  border: 1px solid gray;
}

@media only screen and (min-width: 2000px) {
  .list__print--img {
    width: 18vw;
    height: 22vh;
    border: 3px solid gray;
  }
}

.list__print--instructions {
  font-size: 1.6rem;
  width: 45%;
  line-height: 1.5;
}

@media only screen and (min-width: 2000px) {
  .list__print--instructions {
    font-size: 4rem;
  }
}

.list__print--textArea {
  resize: none;
  width: 45%;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.list__exercise__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list__exercise__text {
  width: 90%;
}

.list__workout {
  list-style: none;
  border: 2px solid #e7e7e7;
  background-color: #e7e7e7;
  margin-top: 3rem;
  height: 50vh;
  border-radius: 5px;
  overflow: auto;
}

.list__workout--item {
  height: 7vh;
  width: 37rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 2000px) {
  .list__workout--item {
    width: 12vw;
  }
}

.list__workout--image {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.list__workout--text {
  font-size: 1.6rem;
  max-height: 100%;
  width: 50%;
}

.list__workout--view {
  width: 50%;
  margin: 3rem auto;
  text-align: center;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__outer,
.modal__outer--signup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1900;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal__inner {
  display: none;
  position: absolute;
  top: 6%;
  left: 25%;
  z-index: 2000;
  width: 100rem;
  height: 88vh;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

@media only screen and (min-width: 2000px) {
  .modal__inner {
    width: 30vw;
    height: 50vh;
    top: 20vh;
    left: 40vw;
  }
}

.modal__inner--medium {
  display: none;
  position: absolute;
  text-align: center;
  top: 16%;
  left: 35%;
  z-index: 2000;
  width: 70rem;
  height: 60vh;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.modal__inner--small {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2000;
  padding: 0;
  width: 35rem;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 2000px) {
  .modal__inner--small {
    width: 20vw;
  }
}

@media only screen and (min-width: 2000px) {
  .modal__inner--exerciseView, .modal__inner--workoutView {
    width: 40vw;
    height: 50vh;
  }
}

.modal__inner--exerciseView-ItemContainer, .modal__inner--workoutView-ItemContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4rem;
}

.modal__inner--exerciseView-image, .modal__inner--workoutView-image {
  width: 40rem;
  height: auto;
}

.modal__inner--exerciseView-details, .modal__inner--workoutView-details {
  width: 40rem;
}

@media only screen and (min-width: 2000px) {
  .modal__inner--exerciseView-details, .modal__inner--workoutView-details {
    width: 40%;
  }
}

.modal__inner--exerciseView-text, .modal__inner--workoutView-text {
  width: 100%;
}

.modal__inner--print {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

@media only screen and (min-width: 2000px) {
  .modal__inner--exercise {
    width: 40vw;
    height: 70vh;
  }
}

.modal__exit {
  position: absolute;
  font-size: 3rem;
  top: 1.5vh;
  right: 2vw;
  cursor: pointer;
}

@media only screen and (min-width: 2000px) {
  .modal__exit {
    font-size: 5rem;
  }
}

.modal__delete--heading {
  font-size: 1.8rem;
  padding: 1.5rem;
}

@media only screen and (min-width: 2000px) {
  .modal__delete--heading {
    font-size: 5rem;
  }
}

.modal__delete--text {
  font-size: 1.5rem;
  padding: 1.5rem;
}

@media only screen and (min-width: 2000px) {
  .modal__delete--text {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 2000px) {
  .modal__delete--heading, .modal__delete--text {
    padding: 3rem;
  }
}

.modal__header {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  width: 75%;
}

@media only screen and (min-width: 2000px) {
  .modal__header {
    font-size: 7rem;
  }
}

.modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: auto;
}

@media only screen and (min-width: 2000px) {
  .modal__row {
    height: 30vh;
  }
}

#modalPatientWorkouts {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#modalPatientWorkouts li:hover {
  cursor: pointer;
}

#modalPatientExercises {
  -webkit-transform: translateX(2vw);
          transform: translateX(2vw);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25vw;
  height: 25%;
}

.form__container--signup {
  width: 20vw;
}

.container--grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 0.24fr 1.76fr;
      grid-template-columns: 0.24fr 1.76fr;
  -ms-grid-rows: 0.13fr 1.88fr;
      grid-template-rows: 0.13fr 1.88fr;
      grid-template-areas: '. .' '. .';
}

.grid__top--left {
  width: 100%;
  padding: 1rem;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__top--right {
  width: 100%;
  height: 100%;
  background: #005b96;
  -webkit-box-shadow: 4px 14px 18px -8px rgba(0, 0, 0, 0.49);
          box-shadow: 4px 14px 18px -8px rgba(0, 0, 0, 0.49);
}

.grid__top--right-Container {
  width: 87vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 3rem;
}

.grid__bottom--left {
  height: 100%;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
  box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
}

.grid__bottom--right {
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#6abcf8), color-stop(50%, rgba(67, 211, 220, 0.47)));
  background: linear-gradient(270deg, #6abcf8 0%, rgba(67, 211, 220, 0.47) 50%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__left {
  width: 30vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#6abcf8), to(rgba(67, 211, 220, 0.47)));
  background: linear-gradient(180deg, #6abcf8 0%, rgba(67, 211, 220, 0.47) 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container__right {
  width: 70vw;
  height: 100vh;
  padding-top: 15vh;
}

.container__error {
  display: none;
  margin: 0 auto;
  width: 25vw;
  height: auto;
  padding: 1.5rem 1rem;
  background-color: #dd6565;
  color: #ffffff;
  border-radius: 5px;
}

@media only screen and (min-width: 2000px) {
  .container__error {
    padding: 3.5rem 1rem;
  }
}

.container__error--icon {
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .container__error--icon {
    font-size: 4.5rem;
  }
}

.container__error--text {
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 2000px) {
  .container__error--text {
    font-size: 4.5rem;
  }
}

#signupError {
  width: 20vw;
  margin: 1rem auto;
}

.signup__container {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup__modal {
  display: none;
  background-color: #ffffff;
  width: 30vw;
  height: 40vh;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
}

.workouts__top {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workouts__header {
  font-size: 5rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=main.css.map */