.form {
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 25%;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 80%;
    }

    &--signup {
      width: 20vw;
    }
  }
}
