.container--grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.24fr 1.76fr;
  grid-template-rows: 0.15fr 1.85fr;

  grid-template-areas: '. .' '. .';
}

.grid {
  &__top--left {
    width: 100%;
    padding: 1rem;
    height: auto;
    background: $color-white;
    display: flex;
    justify-content: center;
    z-index: 2000;
    align-items: center;

    // -webkit-box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
    // -moz-box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
    // box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
  }

  &__top--right {
    width: 100%;
    height: auto;
    background: $primary-color--light;

    &-Container {
      width: 87vw;
      height: 100%;

      display: flex;
      align-items: center;
      padding-left: 3rem;
      // background-color:$color-white;
    }
  }

  &__bottom--left {
    height: 100%;
    background: $color-white;

    -webkit-box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
    box-shadow: 7px 0px 11px -2px rgba(0, 0, 0, 0.56);
  }

  &__bottom--right {
    height: 100%;
    background: $gradient-main-background;
  }
}
