.container--grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.2fr 1.8fr;

  grid-template-areas: '. .' '. .';
}

.grid {
  &__top--left {
    height: 100%;
    width: 100%;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top--right {
    width: 100%;
    background: $primary-color--light;

    display: flex;
    justify-content: space-between;
    align-items: center;   
  }

  &__bottom--left {
    height: 100%;
    background: $color-white;

    -webkit-box-shadow: 7px 0px 11px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 0px 11px -2px rgba(0,0,0,0.56);
    box-shadow: 7px 0px 11px -2px rgba(0,0,0,0.56);
  }

  &__bottom--right {
    height: 100%;
    background: $gradient-main-background;
  }
}
