html,
body {
  height: auto;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

.grid__top--left,
.grid__top--right,
.grid__bottom--left,
.modal__exit,
.modal__inner--workoutView,
.list__exercises,
.list__print--back,
.list__workout,
.workouts__top,
.workouts__header,
.modal__outer,
.modal__outer--patient,
#workoutListWrapper,
#workoutContent,
.fas,
.fa-times,
.modal__exit::before,
.fas::before,
.fa-times::before {
  display: none;
}

.modal__inner,
.modal__inner--print {
  width: 100%;
  min-height: 100%;
  height: auto;
  page-break-after: auto;
  box-shadow: none;
}

.list__print {
  width: 90%;
  gap: 0;
}

.list__print li {
  height: 33.333vh;
  /* border: 1px solid blue; */
}

.list__printWorkout li {
  height: 30vh;
}

.list__print--heading {
  font-size: 2rem;
}

.list__print--row {
  margin: 2rem 0;
  padding-bottom: 6rem;
}

.list__print--img {
  width: 20rem;
  height: 17rem;
  border: 3px solid gray;
}

.list__print--instructions {
  font-size: 1.4rem;
  width: 45%;
}

.list__print--textArea {
  border: none;
  transform: translateY(-10vh);
  padding-top: 0;
  font-size: 1.4rem;
}

/* Print Workout styling */
.list__printWorkout {
  gap: 0;
}

.list__printWorkout li {
  height: 41.6vh;
  /* border: 1px solid blue; */
}

.list__printWorkout .list__print--heading {
  font-size: 3rem;
  padding-bottom: 0;
  padding-top: 5vh;
  /* margin-top: 1rem; */
}

.list__printWorkout li p {
  font-size: 1.6rem;
}

.list__printWorkout li img {
  width: 35%;
  height: 80%;
  /* border: 2px solid black; */
}

.list__printWorkout .list__print--row {
  margin-top: 3rem;
  height: 80%;
  display: flex;
}

/* #ptPrintList {
} */

#ptPrintList li {
  /* border: 1px blue solid; */
  height: 41.6vh;
}

#ptPrintList .list__print--heading {
  font-size: 2.5rem;
  padding-bottom: 0;
  padding-top: 5vh;
}

#ptPrintList .list__print--row {
  margin-top: 3rem;
  padding-bottom: 0;
  height: 80%;
  max-height: 100%;
}

#ptPrintList img {
  width: 35%;
  height: 80%;
}

#ptPrintList .list__print--instructions,
#ptPrintList .list__print--textArea {
  font-size: 1.8rem;
}

#workoutPrintModal .list__print--heading {
  padding-top: 3rem;
  padding-bottom: 0;
}

#printWorkoutList .list__print--instructions,
#printWorkoutList .list__print--textArea {
  font-size: 1.7rem;
}

/*
.modal__header {
  font-size: 2.2rem;
  text-align: left;
   margin-top: 6rem; 
}

#exerciseViewImg {
  width: 30rem;
  height: auto;
  margin-right: 0.2cm;
  border: 1px solid black;
}

.modal__inner--exerciseView-ItemContainer {
  margin-top: 0.5cm;
}

.modal__inner--exerciseView-heading {
  font-size: 2rem;
}

.modal__inner--exerciseView-details {
  width: 50%;
}

.modal__inner--exerciseView-text {
  font-size: 1.6rem;
  line-height: 1.5;
}
*/
/* &--small {
    }
  
    &--exerciseView {
      &-ItemContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 4rem;
      }
  
      &-image {
        width: 40rem;
        height: auto;
      }
  
       &-details {
       }
    /* } */

/* <div class="list__flex">
              <div class="list__wrapper--addedExercises">
                <ul class="list__addedExercises" id="listAddedExercises">
                  <li class="list__addedExercises--item">
                    <img class="list__addedExercises--image"src="https://picsum.photos/200/140" alt="">
                    <div class="list__addedExercises--details">
                      <p class="list__addedExercises--text">Exercise 1</p>
                      <button class="list__removeExercise--icon"><i class="fas fa-times list__removeExercise--iconX"></i></button>
                    </div>
                  </li>
                </ul>
              </div> */
