.button {
  cursor: pointer;
  transition: all 0.1s;

  &--primary {
    background-color: $primary-color--light;
    color: white;
    padding: 1rem 2.75rem;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
      opacity: 0.8;
    }

    @include respond(big-desktop) {
      padding: 2rem 3.5rem;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $primary-color--light;

    padding: 1rem 2.75rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid $color-gray-500;
    border-radius: 5px;
  }

  &--tertiary {
    background-color: transparent;
    color: $color-gray-700;
  }

  &__round {
    border-radius: 3rem;
    padding: 1rem 4rem;
    width: 40%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);

    @include respond(big-desktop) {
      padding: 2rem 4rem;
    }
  }

  &__square {
    width: 18rem;
    height: 5rem;
    border: 3px solid #b4b4b4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;

    @include respond(big-desktop) {
      height: 4vh;
      width: 8vw;
    }
  }

  &:hover {
    transform: translateY(-0.5px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  &--login {
    border: 1px solid $primary-color;
    color: white;
    background-color: $primary-color;
    // margin: 3rem auto;
    font-size: 2rem;
  }

  &--signup {
    color: $primary-color;
    border: 1px solid lightblue;
    background-color: lightblue;
    // margin: 0 auto;
    font-size: 2rem;
  }

  &--login,
  &--signup {
    @include respond(big-desktop) {
      font-size: 5rem;
    }
  }

  &--logout {
    background-color: $color-white;
    color: $primary-color;
    width: auto;
    height: auto;
    padding: 2rem 4rem;
    border: 2px solid $primary-color;
    border-radius: 5px;
    margin-top: 10rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    @include respond(big-desktop) {
      font-size: 2.75rem;
    }

    &-icon {
      margin-right: 1.2rem;
    }
  }

  &__delete {
    &--background {
      background-color: $color-gray-100;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem;
      border-radius: 0 0 5px 5px;

      @include respond(big-desktop) {
        padding: 4rem;
      }
    }

    &--secondary,
    &--primary {
      @include respond(big-desktop) {
        font-size: 3.5rem;
      }
    }

    &--secondary {
      background-color: $color-gray-100;
      color: $color-gray-700;
      margin-right: 2rem;

      @include respond(big-desktop) {
        margin-right: 3.5rem;
      }
    }

    &--primary {
      color: $color-white;
      background-color: $color-delete;
      padding: 1rem 1.5rem;
      margin: 0 1rem;
      border-radius: 5px;

      @include respond(big-desktop) {
        padding: 2rem 3rem;
        border-radius: 12px;
      }
    }
  }

  &__add {
    width: 17rem;
    height: 5rem;
    background-color: $primary-color--light;
    color: $color-white;
    border-radius: 5px;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 1.6rem;
    // margin: 2rem 2rem 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    transition: all 0.1s;

    @include respond(big-desktop) {
      width: 34rem;
      height: 10rem;
      font-size: 3.5rem;
    }

    &:hover {
      transform: none;
      box-shadow: none;
      opacity: 0.8;
    }
  }

  &__submit {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 3rem;

    @include respond(big-desktop) {
      font-size: 3.5rem;
      margin-top: 8rem;
    }
  }

  &__print {
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
  }

  &__pagination {
    &--positioner {
      position: relative;
    }

    &--wrapper {
      background-color: $color-white;
      border: 1px solid $color-gray-500;
      width: 7.5rem;
      height: 4rem;
      border-radius: 5px;
      box-shadow: 0px 1px 1px $color-black;
      position: absolute;
      bottom: 2rem;
      right: 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include respond(big-desktop) {
        width: 21.5rem;
        height: 10rem;
        border: 4px solid $color-gray-500;
        border-radius: 10px;
      }
    }

    &--left {
      font-size: 2rem;
      background-color: $color-white;
      color: $primary-color;

      &:disabled {
        color: $color-gray-500;
      }
    }

    &--right {
      font-size: 2rem;
      background-color: $color-white;
      color: $primary-color;

      &:disabled {
        color: $color-gray-500;
      }
    }

    &--left,
    &--right {
      @include respond(big-desktop) {
        font-size: 4rem;
      }
    }
  }

  &__printList,
  &__saveList,
  &__clearList {
    @include respond(big-desktop) {
      font-size: 3.5rem;
    }
  }

  &__printList {
    padding: 1rem 2.5rem;

    &--text {
      display: inline;
      margin-left: 1rem;
    }

    @include respond(big-desktop) {
      padding: 2rem 4rem;
    }
  }

  &__saveList {
    padding: 1rem 2.5rem;
    margin-left: 1rem;

    @include respond(big-desktop) {
      padding: 2rem 4rem;
      margin-left: 2rem;
    }
  }

  &__clearList {
    margin-right: 1rem;
  }
}

.exercise-plus {
  background-color: $color-white;
  color: black;

  @include respond(big-desktop) {
    font-size: 4rem;
  }
  // padding: 1rem;
}

#patientListWrapper {
  position: relative;
}

#patientPages {
  position: absolute;
  bottom: 2rem;
  right: 3rem;

  @include respond(big-desktop) {
    right: 3vw;
  }
}

#workoutPages {
  position: absolute;
  bottom: 7vh;
  right: 3rem;

  @include respond(big-desktop) {
    right: 3vw;
  }
}

#printAddedExercises {
  transition: all 0.1s;

  &:hover {
    opacity: 0.8;
  }
}
