.label {
  font-size: 1.8rem;
  margin-top: 2rem;

  @include respond(big-desktop) {
    font-size: 3.5rem;
    margin-top: 6rem;
  }
}

input {
  border: 1px solid $color-gray-700;
  border-radius: 5px;

  &:focus {
    border: 2px solid $color-focus;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border-radius: 5px;
  }
}

.input {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 1rem;

  @include respond(big-desktop) {
    font-size: 4rem;
    padding: 2rem;
  }

  &__signUp {
  }

  &--textarea {
    font-size: 1.8rem;
    resize: none;

    @include respond(big-desktop) {
      font-size: 4rem;
    }
  }
}

input[type='file'] {
  border: none;
}

.imageTest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.form {
  &__addPatient,
  &__addExercise {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & input {
      font-size: 1.6rem;

      @include respond(big-desktop) {
        font-size: 4rem;
        width: 13vw;
      }
    }
  }

  &__addExercise {
    &--image[src=''] {
      display: none;
    }

    &--image {
      width: 18rem;
      height: auto;
    }
  }

  &__header {
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;

    @include respond(big-desktop) {
      font-size: 7rem;
    }
  }
}
