.label {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.input {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 1rem;

  &--textarea {
    font-size: 1.8rem;
    resize: none;
  }
}

input{
  border: 1px solid $color-gray-700;
  border-radius: 5px;

  &:focus {
    border: 2px solid $primary-color--light;
    border-radius: 5px;
  }
}

.imageTest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.form {
  &__addPatient,
  &__addExercise {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__addExercise {
    &--image[src=''] {
      display: none;
    }

    &--image {
      width: 18rem;
      height: auto;
    }
  }

  &__header {
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
  }
}
