.list {
  &__wrapper {
    width: 97%;
    height: 85%;
    margin: 2rem auto;
    overflow-y: scroll;
  }

  &__header {
    margin-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dcdcdc;
  }

  &__patients {
    font-size: 2.5rem;
    list-style: none;

    li {
      margin: 0 auto;
      // margin-top: 2rem;
      width: 93%;
      padding: 2rem 1rem;
      font-size: 2.1rem;
      border-bottom: 1px solid $color-gray-300;

      // &:not(:first-child) {
      //   // margin: 0 auto;
      //   // margin-top: 2rem;
      //   // width: 93%;
      //   // padding-left: 1rem;
      //   // font-size: 2.3rem;
      // }

      &:nth-child(even) {
        background-color: $color-gray-300;
      }

      & i {
        float: right;
        margin-right: 2rem;
        cursor: pointer;
      }
    }
  }

  &__exercises {
    width: 100%;
    font-size: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      display: inline-block;
      width: 26rem;
      font-size: 1.6rem;
      height: 24rem;
      margin: 3rem;
      // background: $secondary-color;
      text-align: center;
      cursor: pointer;

      //1st one of every row of 4.. (1, 5, 9, etc)
      &:nth-child(4n + 1) {
        margin-left: 4rem;
      }
    }

    &__img {
      width: 100%;
      // border: 5px $secondary-color solid;
      border-radius: 3px;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      height: 20rem;
      margin-bottom: 1rem;
    }
  }
}
