.list {
  &__wrapper {
    width: 97%;
    height: 85%;
    margin: 2rem auto;
    overflow-y: scroll;

    &--exercise {
      width: 70%;
      height: 100%;
      // overflow-y: scroll;
      // scrollbar-width: thin;
      border: 2px solid $color-gray-500;
      border-radius: 1rem;
    }

    &--addedExercises {
      height: 100%;
      border: 2px solid $color-gray-500;
      border-radius: 1rem;
      width: 20%;
      padding-top: 2rem;
      overflow-y: scroll;
      scrollbar-width: thin;
    }
  }

  &__header {
    margin-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dcdcdc;
  }

  &__patients {
    font-size: 2.5rem;
    list-style: none;

    li {
      margin: 0 auto;
      // margin-top: 2rem;
      width: 93%;
      padding: 2rem 1rem;
      font-size: 2.1rem;
      border-bottom: 1px solid $color-gray-300;

      // &:not(:first-child) {
      //   // margin: 0 auto;
      //   // margin-top: 2rem;
      //   // width: 93%;
      //   // padding-left: 1rem;
      //   // font-size: 2.3rem;
      // }

      &:nth-child(even) {
        background-color: $color-gray-300;
      }

      & i {
        float: right;
        margin-right: 2rem;
        cursor: pointer;
      }

      @include respond(big-desktop) {
        height: 10%;
        font-size: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__flex {
    height: 76%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 4rem;
  }

  &__exercises {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      display: inline-block;
      width: 23rem;
      font-size: 1.6rem;
      height: 23rem;
      margin: 2rem;
      // background: $secondary-color;
      // text-align: center;
      cursor: pointer;

      //1st one of every row of 4.. (1, 5, 9, etc)
      &:nth-child(4n + 1) {
        margin-left: 4rem;
      }
    }

    &__img {
      width: 100%;
      // border: 5px $secondary-color solid;
      border-radius: 3px;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
      height: 18rem;
      margin-bottom: 1rem;
    }
  }

  &__addedExercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    list-style: none;

    &--btnContainer {
      position: relative;
      top: 3rem;
      left: 6rem;
      display: flex;
      justify-content: space-between;
      width: 20%;
    }

    &--item {
      margin: 1rem;
    }

    &--details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $color-white;
    }

    &--image {
      width: 20rem;
      height: 14rem;
      border-radius: 5px;
    }

    &--text {
      font-size: 1.6rem;
      width: 20rem;
      height: auto;
    }
  }

  &__removeExercise--icon {
    background: $color-white;
  }

  &__print {
    width: 70%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &--back {
      position: absolute;
      top: 2rem;
      left: 2rem;
      background-color: $color-white;
      font-size: 2rem;
    }

    &--item {
    }

    &--row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid black;
      padding-bottom: 4rem;
    }

    &--heading {
      font-size: 3rem;
    }

    &--img {
      width: 25rem;
      height: 15rem;
    }

    &--instructions {
      font-size: 1.6rem;
      width: 45%;
      line-height: 1.5;
    }
  }
}

.list__exercise__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.list__exercise__text {
  width: 90%;
}
