.tabs {
  &__img {
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 3rem auto;
  }

  &__userWelcome {
    font-size: 1.6rem;
    text-align: center;
  }

  &__menu {
    margin: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    width: 87vw; //138rem/1920
    height: 92vh;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    border-radius: 5px;
  }

  &__link {
    background: none;
    width: 95%;
    height: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: start;
    padding-left: 2rem;
    border-radius: 5px;
    margin: 0.2rem .25rem;

    & i {
      margin-right: 3rem;
    }

    &--active {
      background-color: $secondary-color !important;
      color: $primary-color !important;
      // background-color: rgba(0, 57, 107, 0.8) !important;
      // color: $color-white !important;
    }
  }

  //initial display is none
  &__panel {
    display: none;
  }
}

//active panel will display
.active {
  display: block;
  width: 100%;
  height: 100%;
}
