html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
}

//disables chrome outline on button/input focus
*:focus, *:hover {
  outline:none;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  
  &:focus {
    border: none;
  }
  }

