@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap"');

html {
  font-size: 62.5%;
}

body,
textarea {
  font-family: 'Barlow', sans-serif;
  color: $color-black;
}

.header--primary {
  font-size: 5rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.header--secondary {
  font-size: 4.5rem;
  font-weight: 700;

  &--white {
    color: $color-white;
    text-align: right;
  }

  &--login {
    padding-right: 6rem;
    padding-top: 2rem;
  }
}

.text {
  &__forgot {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }
}

.grid {
  &__heading {
    color: $primary-color;
    font-size: 1.7rem;
    padding-left: 1rem;

    &--main {
      font-size: 2rem;
      color: $color-gray-500;
      font-weight: 700;
    }
  }
}

button,
.tabs__userWelcome {
  font-family: 'Montserrat';
}

.button__add-text {
  font-size: 2.3rem;
}

.modal__inner--exerciseView {
  &-heading {
    font-size: 3rem;
  }

  &-text {
    font-size: 2rem;
  }
}

input {
  font-family: Montserrat;
}
