.container {
  display: flex;
  flex-direction: row;
}

.container--left {
  width: 30vw;
  height: 100vh;
  background: $gradient-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container--right {
  width: 70vw;
  height: 100vh;
}
