.workouts {
  &__top {
    height: 6vh;
    display: flex;
    justify-content: center;
  }

  &__header {
    font-size: 3rem;

    margin-top: 2rem;

    @include respond(big-desktop) {
      font-size: 7rem;
    }
  }
}

#workoutListView {
  @include respond(big-desktop) {
    height: 50%;
  }
}
